*{
  box-sizing: border-box;
}

.stroke-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

  &:disabled {
    background: #ffffff3b;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.white-spinner .mat-progress-spinner circle,
.white-spinner .mat-progress-spinner path {
  stroke: white!important;
}
