<app-header></app-header>
<!-- &nbsp; -->




<div class="offers-container">
  <!-- <div class="">offers</div> -->
  <button mat-stroked-button (click)="loadOffers()" [disabled]="isButtonDisabled">
    Refresh <span *ngIf="countdownMessage !== ''">({{countdownMessage}})</span>
  </button>
  <h1 class="title">Our Best Offers</h1>
  <p class="subtitle">Check out our amazing offers that cater to all your telecom needs. Don't miss out!</p>


  <ng-container *ngIf="loading && !error; else offersContent">
    <div class="offers-scroll flex space-x-4 justify-center">
      <div class="offer-card-skeleton bg-gray-200 animate-pulse rounded-lg p-6 w-60 h-96"
        *ngFor="let _ of [1, 2, 3, 4]">
        <div class="label bg-gray-300 h-6 w-20 mb-4 rounded"></div>
        <div class="offer-title bg-gray-300 h-8 w-32 mb-4 rounded"></div>
        <div class="features bg-gray-300 h-40 w-full rounded"></div>
        <div class="stroke-button bg-gray-300 h-10 w-[60%] mt-4 rounded-full"></div>
      </div>
    </div>
  </ng-container>

  <ng-template #offersContent>
    <ng-container *ngIf="offers.length > 0 && !error; else noOffersOrError">
      <div class="offers-scroll">
        <div class="offer-card" *ngFor="let offer of offers; trackBy: trackById">
          <span class="label">{{offer.name | firstWord}}</span>
          <div class="flex flex-col justify-evenly items-center">
            <div>
              <h2 class="offer-title">{{offer.name}}</h2>
            </div>
            <!-- <p>The {{offer.name}} is here! Get it before it vanishes like your last pizza slice!</p> -->
            <div class="features flex items-center justify-center h-40">
              <span> {{offer | offerStatus}}</span>
            </div>

            <button class="stroke-button rounded-full text-sm hover:bg-green-light transition-all bg-green shadow-md border-none" (click)="openPopup(offer)">View Subscription</button>
          </div>

        </div>
      </div>
    </ng-container>

    <!-- Fallback when no offers are available -->
    <ng-template #noOffersOrError>
      <ng-container *ngIf="!error; else errorTemplate">
        <!-- No Offers -->
        <div class="text-center flex flex-col items-center mt-[10vh] justify-center text-lg text-gray-500">
          <img src="empty-box.png" width="150" alt="empty">
          Sorry, no offers are available at the moment.
        </div>
      </ng-container>

      <!-- Error State -->
      <ng-template #errorTemplate>
        <div class="text-center flex flex-col items-center mt-[10vh] justify-center text-lg text-gray-500">
          <img src="error-state.png" width="100" alt="error-state">
          {{error}}
        </div>
      </ng-template>
    </ng-template>


  </ng-template>
</div>
